.lowerHalf{
  display: flex;
  justify-content: center;
}

.leftLower{
  margin-right: 40px;
}

.rightLower{
  margin-left: 40px;
}

#reservations {
  margin-top: 28px;
}

.overall{
  display: flex;
  flex-direction: column;
}